In [16]:
##exercise_1

In [15]:
#print sum of 7 and 10
print(7+10)

17

In [5]:
#print sum and difference of 5 and 5
print(5+5)
print(5-5)

10
0

In [6]:
#print product of 3 and 5
print(3*5)
#print quotient of 10 divided by 2
print(10/2)
#print remainder of 18 and 7
print(18%7)
#print 4 to the the power 2
print(4**2)

15
5.0
4
16

In [8]:
#finding simple interest for John
p=5000
r=0.07
t=5
si=int(p*r*t)
print(si)
#total value in savings account
tv=p+si
print(tv)

1750
6750

In [9]:
#finding time taken to earn simple interest for Sally
p=8000
r=0.087
i=4872
t=i/(p*r)
print(t)

7.0

In [10]:
#finding rate of interest for Marie
p=3000
t=4
i=768
r=i/(p*t)
print(r*100)

6.4

In [13]:
#calculate amount without assigning values to variables

print(100*(1+0.10)**7)

194.87171000000012

In [17]:
##exercise_2

In [14]:
#creating variable savings and printing it
savings=100
print(savings)

#creating variable growth_multiplier and assigning value to it
growth_multiplier=1.1
#calculating result
result=savings*growth_multiplier**7
#print result
print(result)

100
194.87171000000012

In [44]:
#creating string variable desc
desc="compound interest"
#creating a boolean variable profitable
profitable=True

In [47]:
#Assigning value to variables
A=10.7
B="This is python course"
C=False
#checking the type of the variables A,B and C
print(type(A))
print(type(B))
print(type(C))
#checking type of variables profitable and growth_multiplier
print(type(profitable))
print(type(growth_multiplier))
#checking type of variables savings
type(savings)

<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'float'>

int

In [25]:
#finding product of savings and growth_multiplier and storing it in year1
year1=savings*growth_multiplier
#printing type of year1
print(type(year1))

<class 'float'>

In [26]:
#assigning sum of desc and desc to doubledesc
doubledesc=desc+desc
#printing doubledesc
print(doubledesc)

compound interestcompound interest

In [48]:
#given values of savings and result
savings=100
result=100*1.10**7
#print the following statement
print("I started with $"+(savings)+" and now have $"+str(result)+". Awesome!")

TypeError: can only concatenate str (not "int") to str

In [51]:
#fixing error in above block by using str
print("I started with $"+str(savings)+" and now have $"+str(result)+". Awesome!")

I started with $100 and now have $194.87171000000012. Awesome!

In [52]:
#giving value to pi_string
pi_string="3.1415926"
#converting pi_string to float
pi_float=float(pi_string)
#mutiplying it by 2 and saving value in double_pi
double_pi=2*pi_float
#print value of double_pi
print(double_pi)

6.2831852

In [ ]:
#checking which option will give error

In [33]:
#option1
"I can add integers, like "+str(5)+" to strings."

'I can add integers, like 5 to strings.'

In [35]:
#option2
"I said "+("Hey "*2)+"Hey!"

'I said Hey Hey Hey!'

In [53]:
#option3
"The correct answer to this multiple choice exercise is answer number"+2
#gives error

TypeError: can only concatenate str (not "int") to str

In [37]:
#option4
True+False

1

In [38]:
##exercise_3

In [100]:
#check if in is even or not

#input a number
n=int(input("Enter a number:"))
if n%2==0:
        print(n," is Even")
else:
    print(n," is not even")

Enter a number:3
3  is not even

In [59]:
#converting temperature from degree celsius to Fahrenheit

#input value of temperature in degree celsius
Tc=float(input("Enter temperature in degree celsius:"))
#convert into Fahrenheit and print it
Tf=(Tc*1.8)+32
print("Temperature in Fahrenheit:",Tf)

Enter temperature in degree celsius:30
Temperature in Fahrenheit: 86.0

In [81]:
#finding area of triangle with given sides

#input three sides of a triangle
a=float(input("enter first side:"))
b=float(input("enter second side:"))
c=float(input("enter third side:"))
#find semi-perimeter
s=(a+b+c)/2
#calculate area
area=(s*(s-a)*(s-b)*(s-c))
import math
print("Area of triangle is:",math.sqrt(area))

enter first side:4
enter second side:3
enter third side:6
Area of triangle is: 5.332682251925386

In [95]:
#find circumference and area of a circle with a given radius

#input radius of circle
import math
r=float(input("enter radius:"))
#calculate circumference
C=math.pi*2*r
#calculate area
area=math.pi*r*r
#print circumference and area
print("Circumference of a circle is:",C)
print("Area of circle is:",area)

enter radius:2
Circumference of a circle is: 12.566370614359172
Area of circle is: 12.566370614359172

In [102]:
#check whether given integer is multiple of 5

#input an integer
num=int(input("Enter an integer:"))
if num%5==0:
    print(num," is a multiple of 5")
else:
    print(num," is not a multiple of 5")

Enter an integer:12
12  is not a multiple of 5